.App {
  width: 450px;
  display: block;
  margin: 30px auto;
  background: radial-gradient(rgb(85, 75, 117) 0%, rgb(53, 32, 133) 100%);
  border: 1px solid #3535ce;
  border-radius: 30px;
  overflow: hidden;
}
